bin/
obj/
.vs/
.idea/
*.user
*.suo
*.pid
*.log
node_modules/
dist/
.angular/
coverage/
*.png
backend/src/**/bin/
backend/src/**/obj/
frontend/apiforge-web/.angular/
frontend/apiforge-web/dist/
frontend/apiforge-web/node_modules/
